<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%= form_with model: @user do |form| %>
    <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form.label "Username:" %> <br>
    <%= form.text_field :username, placeholder: "Your username here, min. 4 char" %> <br><br>
    <%= form.label "Email:" %> <br>
    <%= form.email_field :email, placeholder: "email@gmail.com" %> <br><br>
    <%= form.label "Password:" %> <br>
    <%= form.password_field :password, placeholder: "Password min. 6 char" %> <br><br>
    <%= form.submit "Submit" %>
  <% end %>
</body>
</html>
